<section class="selected-tag"><%="#{t('.posts_tagged')} \"#{h(@tag_name.titleize)}\"".html_safe %></section>

<div class="main-wrapper">
  <section class="main">
    <% if @posts.any? %>
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
      <%= will_paginate @posts %>
    <% end %>
  </section>
</div>

<%= render '/refinery/blog/shared/body_content_right' %>

<%= render "/refinery/content_page", :hide_sections => :body_content_title %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
