<div class="main-wrapper">
  <section class="main">
    <header class="page-header">
      <h1><%= t('category') %> <%= @category.title.html_safe %></h1>      
    </header>

    <%= render 'refinery/blog/shared/content_listing' %>
  </section>
</div>

<%= render '/refinery/content_page', hide_sections: :body_content_title %>
<%= render '/refinery/blog/shared/prev_next_meta' %>
