<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <div class="wrapper">
      <%= render "/refinery/header" -%>

      <div class="content">
        <%= yield %>
      </div>

      <%= render "/refinery/footer" -%>
    </div>
    <%= render "/refinery/javascripts" %>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
  </body>
</html>
